In [1]:
import pandas as pd
# from sklearn.neighbors import NearestNeighbors

# raiting = pd.read_csv('./ratings_drop.csv')
# raiting.p
# raiting.sample(10)

import sys
sys.maxsize > 2**32

True

In [2]:
chunksize = 10000
final = pd.DataFrame()
for dfTemp in pd.read_csv('D:/step/ratings_drop.csv', chunksize=chunksize , usecols=[ 'userId' , 'productId' , 'rating'] ):
    dfTemp.astype({'userId': 'int32' , 'rating' : '' }).dtypes
    print("processing the " + str(dfTemp.shape[0]) + " rows." )
    display(dfTemp.head(5))
    dfTemp.drop_duplicates(subset=['userId', 'productId'], keep='first' , inplace =True )
    dfTemp2 = dfTemp.pivot( index='userId' , columns='productId' , values="rating" ).fillna(0)
    final = final.add(dfTemp2, fill_value=0)
    del dfTemp2
    del dfTemp
    
print(final.shape)
display(final)

print("output to the csv file...")
final.to_csv('D:/step/raiting_matrix.csv', encoding="utf_8_sig")

processing the 10000 rows.

      userId  productId  rating
0    15905.0     452609       5
1    94522.0     452609       5
2   317087.0     452609       5
3  1329103.0     452609       5
4   502593.0     452609       5

processing the 10000 rows.

         userId  productId  rating
10000  328499.0     453353       5
10001  805834.0     453353       5
10002  931051.0     453353       5
10003  772954.0     453353       4
10004  303122.0     453353       4

processing the 10000 rows.

          userId  productId  rating
20000  1180608.0     454070       5
20001   873057.0     454070       5
20002   231818.0     454070       5
20003     4279.0     454070       5
20004   352950.0     454070       4

processing the 10000 rows.

         userId  productId  rating
30000   12420.0     454595       5
30001  304072.0     454595       5
30002  823402.0     454595       4
30003   15211.0     454595       4
30004  247547.0     454595       5

MemoryError: Unable to allocate array with shape (34496, 2664) and data type bool

In [6]:
final.shape

(0, 0)